div {  
    width: 400px; 
    padding-top: 20px;
    Padding-right:5px;
    Padding-bottom: 5px ;
    Padding-left: 0px ;
    Border-width: 15px; 
    border-style: solid; 
    Border-color: red; 
    margin: 0; 

    } 


p {  
    width: 50%; 
     padding:0;  
     border: 20px solid #333;  
     margin: 0; 
    } 